a#login img { background-image : url(../images/new_message48.gif); }
a#login:hover img { background-image : url(../images/new_message48_hov.gif); }

a#new-message img { background-image : url(../images/login48.gif); }
a#new-message:hover img { background-image : url(../images/login48_hov.gif); }
