<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            category="T4Eclipse"
            file="help/toc-primary.xml"
            primary="true">
      </toc>
      <toc
            file="help/toc-user.xml">
      </toc>
      <toc
            file="help/toc-faq.xml">
      </toc>
      <toc
            file="help/toc-devel.xml">            
      </toc>
      <tocIcon
            id="cz.cuni.mff.d3s.nprg044.twitter.help"
            openIcon="icons/twitter.gif">
      </tocIcon>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorialsExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="cz.cuni.mff.d3s.nprg044.twitter.help.T4Eclipse"
            name="T4Eclipse">
      </category>
      <cheatsheet
            category="cz.cuni.mff.d3s.nprg044.twitter.help.T4Eclipse"
            composite="false"
            contentFile="cheatsheets/login.xml"
            id="cz.cuni.mff.d3s.nprg044.twitter.help.cheatsheets.Login"
            name="Login cheatsheet">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="cz.cuni.mff.d3s.nprg044.twitter.branding.TwitterClient">
      </introProductBinding>
   </extension>

</plugin>
