a#t4eclipse img { background-image : url(../../images/t4eclipse48.png); }
a#t4eclipse:hover img { background-image : url(../../images/t4eclipse48_hov.png); }

a#t4eclipse-introLink img { background-image : url(../../images/t4eclipse48.png); }
a#t4eclipse-introLink:hover img { background-image : url(../../images/t4eclipse48_hov.png); }
