<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="cz.cuni.mff.d3s.nprg044.twitter.ui.view.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="twitter4j.Status"
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.view.adapters.TwitterAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
</plugin>
