<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cz.cuni.mff.d3s.nprg044.twitter.imageService" name="Image Service for T4Eclipse" schema="schema/cz.cuni.mff.d3s.nprg044.twitter.imageService.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.MainPage"
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.pages.TwitterAuthPreferencePage"
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.AuthToken"
            name="Authentication tokens">
      </page>
      <page
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.pages.TwitterMainPreferencePage"
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.MainPage"
            name="Twitter">
      </page>
      <page
            category="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.MainPage"
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.pages.TwitterImageServicePreferencePage"
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.page3"
            name="Image services">
      </page>
   </extension>
   <extension
         point="cz.cuni.mff.d3s.nprg044.twitter.imageService">
      <service
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.DefaultImageService"
            name="Default image service"
            service="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.internal.DefaultImageService">
      </service>
      <service
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.CrazyImageService"
            name="Crazy image service"
            service="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.internal.DefaultImageService">
      </service>
   </extension>

</plugin>
