<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.pages.TwitterMainPreferencePage"
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.MainPage"
            name="Twitter">
      </page>
      <page
            category="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.MainPage"
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.pages.TwitterAuthPreferencePage"
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.preferences.AuthToken"
            name="Authentication tokens">
      </page>
   </extension>

</plugin>
