<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="TwitterClient"
         point="org.eclipse.core.runtime.products">
      <product
            application="cz.cuni.mff.d3s.nprg044.twitter.application.TwitterClientApplication"
            name="Twitter Client">
         <property
               name="appName"
               value="Twitter Client">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Hello! This is a simple Twitter plugin.">
         </property>
         <property
               name="windowImages"
               value="icons/twitter.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="featureImage"
               value="icons/featureImg.png">
         </property>         
      </product>
   </extension>

</plugin>
