<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cz.cuni.mff.d3s.nprg044.twitter.ui.perspective.TwitterPerspectiveFactory"
            icon="icons/twitter.gif"
            id="cz.cuni.mff.d3s.nprg044.twitter.ui.perspective.TwitterPerspective"
            name="Twitter">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="cz.cuni.mff.d3s.nprg044.twitter.ui.perspective.TwitterPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="cz.cuni.mff.d3s.nprg044.twitter.wizards.NewMessageWizard">
         </newWizardShortcut>
         <viewShortcut
               id="cz.cuni.mff.d3s.nprg044.twitter.ui.view.MessageTimelineView">
         </viewShortcut>
         <newWizardShortcut
               id="cz.cuni.mff.d3s.nprg044.twitter.ui.wizards.LoginWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
