<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cz.cuni.mff.d3s.nprg044.twitter.editor.text.MarkdownTextEditor"
            default="true"
            extensions="markdown"
            id="cz.cuni.mff.d3s.nprg044.twitter.editor.MarkdownTextEditor"
            name="Markdown Text Editor">
      </editor>
      <editor
            class="cz.cuni.mff.d3s.nprg044.twitter.editor.simple.SimpleMultiPageEditor"
            default="true"
            extensions="markdown"
            id="cz.cuni.mff.d3s.nprg044.twitter.editors.SimpleMultiPageEditor"
            name="Multi editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cz.cuni.mff.d3s.nprg044.twitter.editor.MarkBoldCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+B">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="cz.cuni.mff.d3s.nprg044.twitter.editor.MarkdownTextEditorCategory"
            defaultHandler="cz.cuni.mff.d3s.nprg044.twitter.editor.text.commands.MarkBoldHandler"
            id="cz.cuni.mff.d3s.nprg044.twitter.editor.MarkBoldCommand"
            name="Mark bold">
      </command>
      <category
            id="cz.cuni.mff.d3s.nprg044.twitter.editor.MarkdownTextEditorCategory"
            name="Markdown text editor">
      </category>
   </extension>

</plugin>
